body {
     margin: 0px;
     height: 100vh;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*header*/
header {
     height: 82px;
     background-color: #3a75b0;
     display: flex;
     justify-content: space-between;
}

.left-header {
     width: 55%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-left: 0px;
}

.logo {
     width: 115px;
     margin-bottom: 20px;
}

.links {
     font-size: 26px;
     font-weight: 550;
     margin: 0px 48px;

}

.nav-link {
     color: white;
     text-decoration: none;
     padding: 0px 10px;

}

.nav-link:hover {
     color: #e76f00;
}

.search-div {

     border: 1px solid #DDD;
     background-color: white;
     height: 32px;

     margin-right: 45px;

}

.search-icon {
     width: 15px;
     margin-left: 10px;
}

.right-header {
     display: flex;
     flex-direction: column;
     justify-content: center;
}

input {
     width: 160px;
     height: 100%;
     border-color: transparent;

}

/* Main */
main {
     display: flex;

}

.left-section {
     width: 60%;
     height: 405px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

.right-section {
     height: 405px;
     background-color: green;
     width: 40%;
     display: flex;
}

h1 {
     color: #7A736E;
     font-size: 40px;
     font-weight: 300;
     font-family: "OracleSansVF", "OracleSansVFCyGr", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", sans-serif;
     ;

}

.download-button {
     background: #198754;
     color: #FFFFFF;
     height: 43px;
     width: 225px;
     border: none;
     border-radius: 5px;
     font-family: "OracleSansVF", "OracleSansVFCyGr", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", sans-serif;
     font-size: 15px;
     font-weight: 500;
}
.download-button:hover{
     background: #036638;
}
.main-links a{
     font-size: 15px;
     color: #006B8F;
     font-family: "OracleSansVF", "OracleSansVFCyGr", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", sans-serif;
     text-decoration: none;
}
.main-links a:hover{
     text-decoration: underline;
}